.sections-questions {
 /*ion-list{
 	margin: 0;
  display: flex;
  flex-direction: row;
  border: 0;
  outline: 0;
 }
 ion-item{
   display: flex;
   flex-direction: column;
   border: 0;
   outline: 0;

  .item-inner{
     border-bottom: 0 !important;
     padding-right: 0 !important;
   }
 }*/
  ion-list{
 	 margin: 0;
  }

  ion-buttons{
   display: flex;
   justify-content: space-between;
  }

  .toastCls{
    font-size: 18px;
    background-color:#32db64!important;
  }
}
