<ion-navbar *navbar>
<ion-title>Registration</ion-title>

  <ion-buttons start>
      <button (click)="dismiss()">
          <ion-icon name="ios-arrow-round-back-outline"></ion-icon>
      </button>
  </ion-buttons>

  <ion-buttons end *ngIf="!isNew">
      <button (click)="delete()">
          <ion-icon name="trash"></ion-icon>
      </button>
  </ion-buttons>

</ion-navbar>

<ion-content padding class="registration">
<ion-list inset>
   <form [ngFormModel]="authForm" (ngSubmit)="onSubmit(authForm.value)">
          <label class="item item-input item-select">
            <div class="input-label">
              Title
            </div>
            <ion-select [(ngModel)]="user.title">
              <ion-option selected>Mr</ion-option>
              <ion-option>Mrs</ion-option>
              <ion-option>Miss</ion-option>
            </ion-select>
        </label>

          <ion-item>
              <ion-label>First name</ion-label>
              <ion-input type="text"  [(ngModel)]="user.firstName" [ngFormControl]="FirstName"></ion-input>
          </ion-item>
            <div *ngIf="FirstName.hasError('required') && FirstName.touched" class="error-box">* First Name is required</div>
            <div *ngIf="FirstName.hasError('minlength') && FirstName.touched" class="error-box">* Minimum length is 2</div>

           <ion-item>
              <ion-label>Last name</ion-label>
             <ion-input type="text"  [(ngModel)]="user.lastName" [ngFormControl]="LastName"></ion-input>
          </ion-item>
             <div *ngIf="LastName.hasError('required') && LastName.touched" class="error-box">* Last Name is required</div>
            <div *ngIf="LastName.hasError('minlength') && LastName.touched" class="error-box">* Minimum length is 2</div>

            <ion-item>
             <ion-label>Email</ion-label>
               <ion-input type="text"  [(ngModel)]="user.email"  [ngFormControl]="Email"></ion-input>
             </ion-item>
             <div *ngIf="Email.hasError('required') && Email.touched" class="error-box">* Email is required</div>
             <div *ngIf="Email.hasError('minlength') && Email.touched" class="error-box">* Minimum length is 2</div>

           <ion-item>
            <ion-label fixed>Role</ion-label>
            <ion-input type="text" [(ngModel)]="user.role"></ion-input>
           </ion-item>

          <ion-item>
            <ion-label fixed>Job Title</ion-label>
            <ion-input type="text" [(ngModel)]="user.job"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label fixed>Organization</ion-label>
            <ion-input type="text" [(ngModel)]="user.organisation"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label fixed>Department</ion-label>
            <ion-input type="text" [(ngModel)]="user.department"></ion-input>
      </ion-item>
         <button danger type="submit" [disabled]="!authForm.valid" block>Submit</button>
  </form>
</ion-list>
    <!--<button block (click)="save()">Save</button> -->
</ion-content>
