.tests {
	.bar{
		background: #c8c7cc;
	}
	.item p{
		padding-bottom: 20px;
	}
	.progress{
		background: color($colors, purple);
		height: 5px;
	}
	ion-list .item-inner{
		border: 0;
	}
	ion-item-group{
		border-bottom: 1px solid #c8c7cc;
	}
}
