<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>Assessments</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary" (click)="createAssesment()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="tests">
  <ion-list>
    <p *ngIf="!createdTests.length==0" class="empty">Tap on each assessment's progress bar to continue.</p>
    <p *ngIf="createdTests.length==0" class="empty">No assessments yet.</p>

    <ion-item-group *ngFor="let createdTest of createdTests">
      <ion-list-header color="light">
          {{createdTest.name}}
      </ion-list-header>

      <button ion-item detail-none (click)="resume(createdTest)">
        <p>{{createdTest.date | date: shortDate}}
          <span style="float: right">{{createdTest.percentage}}%</span>
        </p>
        <ion-row class="bar">
          <div class="progress" [style.width.%]="createdTest.percentage"> </div>
        </ion-row>
      </button>

      <ion-row padding>
         <ion-col>
           <button ion-button outline small color="primary" (click)="showDetail(createdTest)" icon-left>
             <ion-icon ios="ios-more" md="md-more"></ion-icon>
             Details
           </button>
         </ion-col>
         <ion-col text-center>
           <button ion-button small outline color="primary" [disabled]="createdTest.percentage == 0" (click)="exportCVS(createdTest)" icon-left>
             <ion-icon ios="ios-download" md="md-download"></ion-icon>
             Export
           </button>
         </ion-col>
         <ion-col text-right>
           <button ion-button small color="secondary" outline (click)="deleteTest(createdTest)" icon-left>
             <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
             Delete
           </button>
         </ion-col>
      </ion-row>
    </ion-item-group>

  </ion-list>
</ion-content>
